@import '~@/assets/css/base_define.scss';

.login{
  width: 100vw;
  height: 100vh;
  background-image: url('~@/assets/img/login_bg.jpg');
  background-size: 100% 100%;
  position: absolute;
  
  .login-button{
    @include abs-center;
    cursor: pointer;
    padding: 30px;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;
    text-align: center;
    transition: opacity 1s linear;
    .login-button-logo{
      color: rgb(146, 143, 143);
      font-size: 5em;
      line-height: 190px;
    }
  }

  .sign-in-box{
    @include abs-center;
    padding: 20px;
    border-radius: 15px;
    background: rgba(3,3,3,.55);
    transition: opacity .5s linear;
    box-shadow: 10px 10px 30px #000;

    .title{
      padding-top: 10px;
      padding-bottom: 25px;
      text-align: center;
      font-size: 1.6em;
      color: rgba(240, 234, 234, 0.877);
    }

    .back-button{
      i{
        font-size: 1.5em;
        cursor: pointer;
      }
      text-align: right;
    }
  }

  .sign-up-box{
    @include abs-center;
    padding: 20px;
    border-radius: 15px;
    background: rgba(3,3,3,.55);
    transition: opacity .5s linear;
    box-shadow: 10px 10px 30px #000;

    .title{
      padding-top: 10px;
      padding-bottom: 25px;
      text-align: center;
      font-size: 1.6em;
      color: rgba(240, 234, 234, 0.877);
    }

    .back-button{
      i{
        font-size: 1.5em;
        cursor: pointer;
      }
      text-align: right;
    }
  }

}