.work-image-display{
  margin-top: 10px;
  border: 1px #bfbfbf solid;
  border-radius: 8px;
  height: 100%;
  width:100%;

  .navigator{
    height: 35px;
    padding: 3px 5px;
    background-color: #dbd5d5;

    .bread-crumb{
      display: flex;
      height: 100%;
      align-items: center;

      .bread-crumb-item{
        padding: 2px 5px;
        padding-right: 30px;
        padding-left: 10px;
        border-right: 0.5px solid #000;
        height: 20px;
        line-height: 16px;
        min-width: 50px;
        max-width:150px;
        border-radius: 5px;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .bread-crumb-icon{
          position: absolute;
          right: 5px;
          &:hover{
            cursor:pointer;
          }
        }
      }
    }
  }
  .content{
    height: calc(100% - 35px);
    padding: 20px;
  }
}