.sign-up{
  width: 270px;

  .auth-code-box{
    display: flex;
    justify-content: space-around;


  }
  // antd默认样式
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl{
    .login-form-forgot {
      float: left;
    }
  }
  .login-form-button {
    width: 100%;
  }
}